{% extends "layout.html"%}

{% block title %}
    Task Master
{% endblock %}

{% block main%}


<div class="container-fluid shadow mb-5 header-div hero">
    <img src="static/Header_div_bg.png" class="img-size img-fluid" alt="Thumbnail">

    <div class="hero-content">        
        <p class="Poppins-font">Plan Your Day.</p>            
        <p class="hero-subtitle" >Save Your Notes.</p>

        <form action="/task" method="get">
            <button name="get_started" type="submit" class="btn btn-primary btn-lg">Get Started</button>
        </form>                           
    </div>
</div>


<h1 class="display-3 Lato-font text-primary text-center">{{user.title()}}'s Tasks</h1>

<div class="container shadow bg-body rounded p-3 mb-5">
{% for task in task_list %}

    <div class="container shadow p-3 mb-5 bg-body rounded">
        <div class="row justify-content-center">
            <div class="col">
                <p class="lead"> <strong> {{task.task.title()}} </strong> </p>
            </div> 
            <div class="col align-right completed">  
                    <a href="/delete_task/{{task.task}}"> <img src="static/remove.png"> </a>
            </div>
             
        </div>
    </div>

<!-- For the icon -->
<!--<a href="https://www.flaticon.com/free-icons/quit" title="quit icons">Quit icons created by Pixel perfect - Flaticon</a>-->

{% endfor %}
</div>

{% endblock %}